.comment-modal-main {
  position: absolute;
  background: ivory;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-body {
  /*background-image: linear-gradient(to right bottom, #fffaf0, #fdf0dd, #fce4cb, #fdd9ba, #ffccac);*/
  background: linear-gradient(156.23deg, #FAFCFD 0.27%, #F9FBFD 6.88%, #F8FAFC 13.49%, #F5F8FA 20.1%, #F2F6F8 26.71%, #EDF2F5 33.33%, #E8EEF1 39.94%, #E2E9ED 46.55%, #DBE4E9 53.16%, #D5E0E5 59.77%, #D0DBE1 66.38%, #CBD8DE 72.99%, #C8D5DC 79.6%, #C5D3DA 86.21%, #C4D2D9 92.82%, #C3D2D9 99.44%);
}

.comments-box-landing {
  background-color: #f6f8f9;
  border-left: solid 4px #3498db;
}

.landingpage-comments-modal > .react-draggable {
  background-color: #f6f8f9;
  border-left: solid 4px #3498db;
}

.threebox-comments-react > .comments_footer {
  display: none;
}

.threeboxProfileHover__style_boxAddressWrap {
  padding-top: 6px;
}

.threeboxProfileHover__style_boxAddress .threeboxProfileHover__style_boxImg {
    height: 20px !important;
    width: 20px !important;
}

.threeboxProfileHover__style_boxShortAddress {
    color: #a0aec0 !important;
    font-size: 0.75rem !important;
    font-weight: 200 !important;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.bg-rainbow {
    background: linear-gradient(45deg,red,#ff7300,#fffb00,#48ff00,#00ffd5,#002bff,#7a00ff,#ff00c8,red);

    background-size: 400%;
    animation: glowing 200s linear infinite;
    border-radius: 4px;
}

.upvoteIcon {
    background-color: #4a5568;
    -webkit-mask: url(./../images/icons/ArrowUp.svg) no-repeat center;
    mask: url(./../images/icons/ArrowUp.svg) no-repeat center;
}

.upvoteIcon:hover {
    background-color: #7193ff;
}

.upvoteIcon.upVoted {
    background-color: #7193ff;
}

.downvoteIcon {
    background-color: #4a5568;
    -webkit-mask: url(./../images/icons/ArrowDown.svg) no-repeat center;
    mask: url(./../images/icons/ArrowUp.svg) no-repeat center;
}

.downvoteIcon:hover {
    background-color: #ff4501;
}

.downvoteIcon.downVoted {
    background-color: #ff4501;
}

.vote_btn {
  border: none;
  background-color: transparent;
  padding: 0 2px;
  }
