/* general styles */

body h2, h3, p {
  color: #272C3A;
}

.section-wrapper {
    padding-right: calc(50% - 560px);
    padding-left: calc(50% - 560px);
}

.about-socialmedia {
    padding-top: 30rem;
    padding-bottom: 10rem;
}
